    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <ul>
                        <li class="footerleft"><a href="/about">About</a></li>
                        <li class="footerleft"><a href="/projects">Projects</a></li>
                        <li class="footerleft"><a href="/blogposts">Blog</a></li>
                        <li class="footerleft"><a href="/contact">Contact</a></li>
                        <li class="footerright"><a href="mailto:dh#z!2@#z!2dylanhedges#z!2.#z!2co#z!2.#z!2uk" onmouseover="this.href=this.href.replace(/#z!2/g,'');" target="_blank"><i class="fas fa-envelope"></i></a></li>
                        <li class="footerright"><a href="https://www.quora.com/profile/Dylan-Hedges-8" target="_blank"><i class="fab fa-quora"></i></a></li>
                        <li class="footerright"><a href="https://twitter.com/DylanHedgesDev" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li class="footerright"><a href="https://github.com/Dylan-Hedges" target="_blank"><i class="fab fa-github-square"></i></a></li>
                        <li class="footerright"><a href="https://www.linkedin.com/in/dylan-hedges" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="//code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script type="text/javascript" src="stylesheets/script.js"></script>
    <!-- <script type="text/javascript" src="stylesheets/navbarscript.js"></script> -->
    </body>
</html>
