<% include partials/header %>

<section class="aboutpage">
    <div class="container-fluid">
        <div class="aboutintro">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h1>About Me</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <img src="stylesheets/profilephoto(resized)_v2.jpg">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 abouttext">
                    <p>My name is Dylan and i am a web designer and developer living in Toronto. The thing that attracts me the most to web development is the ability to create something that didn’t exist before, I love to build things and solve complex problems and love the challenges that come along with creating websites.</p>
                    <p>A bit about my background, I have a first class degree in IT in which I developed a fundamental knowledge in several areas of IT, covering variety of subjects ranging from programming to databases to networking, in addition to this i have also worked at several large professional organisations in both the professional services and tech industries.</p>
                    <p>A majority of my time is spent developing in HTML5/CSS3/Javascript, and have used a number of technologies including Node, Express, React, MongoDB and AWS for which I hold two certifications in solutions architecture and development.</p>
                    <p>I am currently looking for new opportunities so if you feel there might be something of interest to me please contact me via email directly or using the contact form on this site.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid aboutexperience">
        <div class="aboutcontent">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 abouttext">
                    <h5>PwC - Designer and Developer</h5>
                    <p>My interest in web development first began while working as a designer and developer at PwC. During this role I worked a fast paced global technology team creating complex user interfaces and digital content used by PwC’s global workforce of over 100,000. </p>
                    <p>Working in a role that combined elements of both hands on development and project management I developed valuable skills around user experience, design concepts and logical problem solving which I use when developing websites.</p>
                    <p>During this time I worked closely with subject matter experts and carried out a number projects from design through to implementation with the goal of turning scripts, storyboards and ideas into digital content used through the organisation.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <img src="stylesheets/pwcimage.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="aboutcontent">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <img src="stylesheets/intelimage.jpg">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 abouttext">
                    <h5>Intel - Network Engineer</h5>
                    <p>Working as a Network Engineer at Intel was my first job in the tech industry and during this time I developed a number of valuable skills I have used throughout my career.</p>
                    <p>Working with enterprise network equipment on a daily basis meant problem solving was one of my key responsibilities, learning how to take a series of logic steps to identify and resolve complex technical issues was extremely valuable and is something I use regularly when coding.</p>
                    <p>In addition to this I also gained value experience in delivering network improvement projects, presenting technical solutions to stakeholders and working closely with team members to problem solve issues.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<% include partials/footer %>