<% include partials/header %>

<section class="aboutpage">
    <div class="container">
        <div class="aboutcontent">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h1>About Me</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <img src="http://cdn.publishyourarticles.net/wp-content/uploads/2015/07/smiling-businessman-2-.jpg">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <p>Hi, my name is Dylan and i am a web developer and designer living in the Toronto area. I have a first class degree in IT and have worked for several large multinational professional organisations in both the professional services and tech industries.</p>
                    <p>My passion is in web development and coding in HTML5/CSS3 and Javascript, I have used a number of technologies including Node, Express, React, MongoDB and AWS for which I hold two certifications covering solutions architecture and development.</p>
                    <p>I love to build things and solve complex problems and love the challenge that come along with designing and developing websites, I am currently looking for a new challenge so if you feel there might be something of interest to me please contact me via email directly or using the contact form on this site.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid  aboutexperience">
        <div class="container">
            <div class="aboutjobdescription">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <img src="https://seeklogo.com/images/P/pwc-logo-EB9FE5DB8C-seeklogo.com.png">
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <h5>Designer and Developer</h5>
                        <ul>
                            <li>Created digital content for PwC’s global workforce of over 100,000 people</li>
                            <li>Developed user interfaces and digital front ends with complex functionality and navigation</li>
                            <li>Tested and updated digital content in accordance with stakeholder requirements</li>
                            <li>Provided design consultation regarding screen layouts, functionality and interactivity</li>
                            <li>Recorded, edited and integrated audio, video and images into digital content</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="container">
            <div class="aboutjobdescription">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <h5>Network Engineer</h5>
                        <ul>
                            <li>Worked as part of a technical team to support the enterprise network infrastructure</li>
                            <li>Conducted network improvement projects from design to implementation</li>
                            <li>Collaborated with team members to problem solve network and telecom issues</li>
                            <li>Installed, configured and maintained Cisco enterprise network equipment</li>
                            <li>Presented technical network solutions to non-technical stakeholders</li>
                        </ul>            
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Intel-logo.svg/1024px-Intel-logo.svg.png">
                    </div>
                </div>
            </div>
        </div>
</section>

<% include partials/footer %>