<% include partials/header %>

<section class="aboutpage">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h1>About Me</h1>
            </div>
        </div>
    </div>
    <div class="aboutintro">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                    <img src="stylesheets/profilephoto(resized)_v4.jpg" class="mx-auto d-block">
                </div>
                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 aboutintrotext">
                    <p>Hi, my name is Dylan Hedges and I am a web developer living in Toronto. I have a strong background in design and development and have experience working for large, cross-cultural, fast-paced organizations.</p>                                        
                    <p>The thing that attracts me most to web development is the ability to create something that didn’t exist before, I love the challenges that come along with creating websites and enjoy solving complex problems. In my spare time I enjoy working on personal projects, taking web development courses and learning about new technologies.</p>
                    <p>I am currently looking for web development opportunities in Toronto, if you feel you have anything that might be of interest please contact me via email or directly using the contact form on this site.</p>                
   
                   
                </div>
            </div>
        </div>
    </div>
    <div class="aboutcontent greybackground ">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 abouttext">
                    <h5>BSc Business Information Technology - 1st Class Honours</h5>
                    <ul>
                        <li>Web Development (HTML/CSS)</li>
                        <li>Programming (Java)</li>
                        <li>Relational Databases (MySQL)</li>
                        <li>Networking and Security (Cisco)</li>
                        <li>Ethical Hacking and Countermeasures (VMWare, Linux Backtrack)</li>
                        <li>Business Processes and Requirements</li>
                        <li>System Design</li>
                    </ul>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                    <img src="stylesheets/uniimage_v4.jpg" class="mx-auto d-block">
                </div>
            </div>
        </div>
    </div>
    <div class="aboutcontent">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                    <img src="stylesheets/awsimage_v3.jpg" class="mx-auto d-block">
                </div>
                <div class="col-xl-8 col-lg-6 col-md-12 col-sm-12 col-12 abouttext reducedwhitespace">
                    <h5>AWS Certifications - Solutions Architect Associate</h5>
                    <h5>AWS Certifications - Developer Associate</h5>
                    <ul>
                        <li>EC2, VPC, S3, EBS, Auto Scaling</li>
                        <li>IAM, Route 53, RDS, DynamoDB, SQS, SNS</li>
                        <li>Designing highly available cost-efficient fault-tolerant systems</li>
                        <li>Security, Debugging, Troubleshooting</li>
                        <li>License: Solutions Architect (AWS-ASA-29060)</li>
                        <li>License: Developer (AWS-ADEV-8644)</li>
                    </ul>
               </div>
            </div>
        </div>
    </div>
    <div class="aboutcontent greybackground">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-6 col-md-12 col-sm-12 col-12 abouttext ">
                    <h5>PwC - Designer & Developer</h5>
                    <ul>
                        <li>Designed and developed web-based courses for PwC’s global workforce of over 100,000 people</li>
                        <li>Developed interactive UIs and complex web interfaces</li>
                        <li>Created rich multimedia (audio/video/graphics) for use in web-based content</li>
                        <li>Provided UI/UX design consultation regarding screen layouts, functionality and navigation</li>
                        <li>Coordinated development projects from project launch through to deployment</li>
                    </ul>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                    <img src="stylesheets/pwcimage_v3.jpg" class="mx-auto d-block">
                </div>
            </div>
        </div>
    </div>
    <div class="aboutcontent">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg- col-md-12 col-sm-12 col-12">
                    <img src="stylesheets/intelimage_v3.jpg" class="mx-auto d-block">
                </div>
                <div class="col-xl-8 col-lg-6 col-md-12 col-sm-12 col-12 abouttext">
                    <h5>Intel - Network Engineer</h5>
                    <ul>
                        <li>Supported, updated and maintained the enterprise network infrastructure for Intel HQ</li>
                        <li>Collaborated with team members to troubleshoot complex network and telecom issues</li>
                        <li>Installed, configured and maintained Cisco enterprise network equipment</li>
                        <li>Provided technical support for end users, both in person and remotely</li>
                        <li>Presented technical network solutions to non-technical stakeholders and groups</li>
                    </ul>                    
                </div>
            </div>
        </div>
    </div>
</section>

<% include partials/footer %>