<% include partials/header %>

<section class="aboutpage">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h1>About Me</h1>
            </div>
        <div class="aboutintro">
            <div class="row">
                <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12">
                    <img src="stylesheets/profilephoto(resized)_v3.jpg" class="mx-auto d-block">
                </div>
                <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 abouttext">
                    <p>My name is Dylan Hedges and i'm a web designer and developer living in Toronto. The thing that attracts me the most to web development is the ability to create something that didn’t exist before, I love to build things and solve complex problems and love the challenges that come along with creating websites.</p>
                    <p>A bit about my background, I have a first class honours degree in IT, during which I developed a fundamental knowledge across several areas of IT and covered a variety of subjects ranging from programming to databases to networking, in addition to this i have also worked for several large, professional organisations in both the professional services and tech industries.</p>
                    <p>A majority of my time is spent developing in HTML5/CSS3/Javascript and i have used a number of technologies including Node, Express, React, MongoDB and AWS for which I hold two certifications in solutions architecture and development.</p>
                    <p>I am currently looking for new opportunities in the Toronto area so if you feel there might be something of interest to me please contact me via email directly or using the contact form on this site.</p>
                </div>
            </div>
        </div>
        <div class="greybackground ">
            <div class="aboutcontent">
                <div class="row">
                    <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 abouttext">
                        <h5>Bachelor’s of science in Information Technology - First Class Honours</h5>
                        <p>Having successfully completed a bachelor’s of science degree in IT has allowed me to develop a broad and detailed understanding across several areas of IT and technology which I still use in my career today.</p> 
                        <p>During my studies I gained valuable experience using a variety of tools and programming languages, some of which included Web Development using HTML/CSS, Database design and development using MySQL, Advanced Networking using Cisco, programming in Java, Ethical Hacking and Business processes.</p>
                        <p>In addition to acquiring technical knowledge I also developed a number of soft skills through working in groups, performing presentations, critically thinking and self evaluating work.</p>
                    </div>
                    <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12">
                        <img src="stylesheets/uniimage_v2.jpg" class="mx-auto d-block">
                    </div>
                </div>
            </div>
        </div>
        <div class="aboutcontent">
            <div class="row">
                <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12">
                    <img src="stylesheets/awsimage_v2.jpg" class="mx-auto d-block">
                </div>
                <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 abouttext">
                    <h5>AWS Certifications - Solutions Architect Associate, Developer Associate</h5>
                    <p>Having successfully passed two Amazon Web Services (AWS) exams and becoming certified in both Solutions Architecture and Cloud Development has provided me with valuable knowledge of cloud based hosting and application deployment.</p> 
                    <p>By understanding the services AWS offers I am able to make better decisions regarding website/application deployment and how to create and deploy cloud based infrastructure. Using this knowledge I have deployed this portfolio to AWS in a cost efficient and secure way. </p>
                    <p>This area of technology greatly interests me and I will be looking to further develop my knowledge of this area and gain additional certifications, if you have any opportunities that involve AWS please contact me either directly via email or using the contact form on this site as it would be of particular interest. </p>
                </div>
            </div>
        </div>
        <div class="greybackground">
            <div class="aboutcontent">
                <div class="row">
                    <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 abouttext">
                        <h5>PwC - Designer and Developer</h5>
                        <p>My interest in web development first began while working as a digital designer and developer at PwC. While in this role I worked in a fast paced global technology team creating complex front end content and digital media used by PwC’s global workforce of over 100,000. </p>
                        <p>This role combined elements of both hands on development and project management, working on front end content meant i worked closely with several teams including content writers, back end teams and end users, therefore communication and being able to translate requirements was a vital part of this role.</p>
                        <p>While in this role i developed a number of valuable skills around UX/UI, design concepts, user functionality testing and problem solving which I use when developing websites.</p>
                        <p>During this time i was responsible for a number projects which i executed from design through to implementation and successfully turned scripts, storyboards and ideas into digital content used throughout PwC.</p>
                    </div>
                    <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12">
                        <img src="stylesheets/pwcimage_v2.jpg" class="mx-auto d-block">
                    </div>
                </div>
            </div>
        </div>
        <div class="aboutcontent">
            <div class="row">
                <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12">
                    <img src="stylesheets/intelimage_v2.jpg" class="mx-auto d-block">
                </div>
                <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 abouttext">
                    <h5>Intel - Network Engineer</h5>
                    <p>Working as a Network Engineer at Intel was my first job in the tech industry and during this time I developed a number of valuable skills I have used throughout my career.</p>
                    <p>Working with enterprise network equipment on a daily basis meant problem solving was one of my key responsibilities, learning how to take a series of logic steps to identify and resolve complex technical issues was extremely valuable and is something I use regularly when developing websites.</p>
                    <p>In addition to this I also gained valuable project management experience through delivering network improvement projects, presenting technical solutions to stakeholders and working closely with team members to problem solve issues.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<% include partials/footer %>