<% include partials/header %>

<% var msg %>


<div class=" contactpage">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h1>Contact Me</h1>
            </div>
        </div>
        <div class="row contacticons">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                <a href="https://www.linkedin.com/in/dylan-hedges" target="_blank"><i class="fa fa-linkedin-square animate-wp-5"></i></a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                <a href="https://github.com/Dylan-Hedges" target="_blank"><i class="fa fa-github animate-wp-5"></i></a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                <a href="mailto:dh#z!2@#z!2dylanhedges#z!2.#z!2co#z!2.#z!2uk" onmouseover="this.href=this.href.replace(/#z!2/g,'');" target="_blank"><i class="fa fa-envelope animate-wp-5"></i></a>
            </div>
        </div>
        <div class="row contactdownload">
            <div>
                <div class="col-xl-6 col-lg-6 col-md-3 col-sm-6 col-6">
                    <a href="stylesheets/DylanHedgesCV.pdf" download><i class="fa fa-cloud-download"></i></a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-8 col-sm-6 col-6">
                <a href="stylesheets/DylanHedgesCV.pdf" download><h4>Download a copy of my resume here</h4></a>
            </div>
        </div>
        <div class="row contactform">
            <form method="post" action="send">
                <div class="form-group">
                    <input type="text" name="contactname" class="form-control"  placeholder="Name">
                </div>
                <div class="form-group">
                    <input type="text" name="company" class="form-control"  placeholder="Company">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="text" name="title" class="form-control"  placeholder="Message Title">
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="message" rows="10" cols="90"></textarea>            
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<% include partials/footer %>