<section class="landing-splash-page">
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
        <div class="splash-header">
     		<h1>Welcome.</h1>
    		<a href="/contact" class="btn btn-lg btn-outline-primary">Contact Me!</a>
        </div>
    </div>
</section>

<!--Moved down due to adding white bar at top of page-->
<% include partials/header %>
 
<section class="landingpageicons">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <i class="fa fa-html5"></i>
                <h4>Web Development</h4>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <i class="fa fa-code-fork"></i>    
                <h4>Front End Development</h4>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <i class="fa fa-css3"></i>    
                <h4>Web Design</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <i class="fa fa-user-circle"></i>
                <h4>UI Development</h4>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <i class="fa fa-video-camera"></i> 
                <h4>Graphic/Video Editing</h4>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <i class="fa fa-cloud"></i>  
                <h4>Cloud Computing</h4>
            </div>
        </div>
    </div>    
</section>

<section class="landing-projects-page">
    <div class="container">
        <div class="landingcontent">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <img src="https://www.howtogeek.com/wp-content/uploads/2010/03/image5.png">
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        </div>
        <div class="landingcontent">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>           
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <img src="https://www.howtogeek.com/wp-content/uploads/2010/03/image5.png">
                </div>
            </div>
        </div>
    </div>
</section>

<% include partials/footer %>