<!--Moved down due to adding white bar at top of page-->
<% include partials/header %>

<section class="landingsplashpage">
    <div class="container">
        <div class="splashheader">
     		<h1 class="animate-wp-4">Hi, i'm Dylan.</h1>
     		<h2 class="animate-wp-4">Welcome to my site.</h2>
    		<a href="/contact" class="btn btn-lg btn-primary">Contact Me!</a>
        </div>
    </div>
</section>
<section class="landingeducationpage">
    <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 landingeducationpageh1">
                    <h1 class="animate-wp-18">About</h1>
                    <div class="headerunderline animate-wp-21"></div>
                </div>
            </div>
        <div class="landingeducationtext">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <p class="landingpageabouttext">
                        My name is Dylan Hedges and I specialize in creating modern, responsive websites and web apps using HTML, CSS, JavaScript, Node & React. 
                        My passion lies in Font-End development, I enjoy creating visual user interfaces that people can interact with and find excitement in turning ideas into interactive, clean websites & web apps. 
                        When I’m not coding I enjoy travelling, exercising and spending time with friends & family. If you choose me for your next project or to work for your organization I can guarantee that you will get not only a developer but someone who can communicate & work closely with you and your clients to bring your ideas to life and develop your perfect website or web app. 
                        I am located in Toronto, Canada and currently open to new opportunities, if you feel you might have something of interest you can contact me directly via phone or email or using the interactive contact form on this site. 
                        If you want to learn more about me, my experience or the type of projects I have work on you can visit the about, projects and blog pages of this site.
                    </p>
                </div>
            </div>
        </div>
</section>
<section class="landingpageicons greybackground">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 landingpageiconsheader">
                <h1 class="animate-wp-19">Interests</h1>
                <div class="headerunderline animate-wp-22"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <i class="fas fa-laptop-code animate-wp-1"></i>
                <h5>Web Development</h5>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <i class="fas fa-code-branch animate-wp-1"></i>    
                <h5>Front End Development</h5>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <i class="fas fa-object-group animate-wp-1"></i>    
                <h5>Web Design</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <i class="fas fa-tablet-alt animate-wp-2"></i>
                <h5>UI Development</h5>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <i class="fas fa-user animate-wp-2"></i> 
                <h5>UX Development</h5>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <i class="fas fa-cloud-upload-alt animate-wp-2"></i>  
                <h5>Cloud Computing</h5>
            </div>
        </div>
    </div>    
</section>
<section class="landingpageicons">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 landingpageiconsheader">
                <h1 class="animate-wp-20">Skills</h1>
                <div class="headerunderline animate-wp-23"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <i class="fab fa-html5 animate-wp-3"></i>
                <h5>HTML</h5>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <i class="fab fa-css3-alt animate-wp-3"></i>    
                <h5>CSS</h5>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <i class="fab fa-js-square animate-wp-3"></i>    
                <h5>Javascript</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <i class="fab fa-react animate-wp-3"></i>
                <h5>React</h5>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <i class="fab fa-node animate-wp-3"></i> 
                <h5>Node</h5>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <i class="fab fa-aws animate-wp-3"></i>  
                <h5>AWS</h5>
            </div>
        </div>
    </div>    
</section>


<% include partials/footer %>
