<!--Moved down due to adding white bar at top of page-->
<% include partials/header %>

<section class="landingsplashpage">
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
        <div class="splashheader">
     		<h1>Hello, i'm Dylan.</h1>
     		<h2>Welcome to my portfolio.</h2>
    		<a href="/contact" class="btn btn-lg btn-outline-primary">Contact Me!</a>
        </div>
    </div>
</section>
<section class="landingpageicons">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1>Interests</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <i class="fa fa-html5"></i>
                <h5>Web Development</h5>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <i class="fa fa-code-fork"></i>    
                <h5>Front End Development</h5>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <i class="fa fa-css3"></i>    
                <h5>Web Design</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <i class="fa fa-user-circle"></i>
                <h5>UI Development</h5>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <i class="fa fa-video-camera"></i> 
                <h5>Audio/Video Editing</h5>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <i class="fa fa-cloud-upload"></i>  
                <h5>Cloud Computing</h5>
            </div>
        </div>
    </div>    
</section>
<section class="landingeducationpage greybackground">
    <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h1>Education and Experience</h1>
                </div>
            </div>
        <div class="landingeducationtext">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <i class="fa fa-mortar-board"></i> 
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <h5>Bachelor’s of science in Information Technology - First Class Honours</h5>
                    <p>Web Development, Relational Databases, Java Programming, Advanced Networking, Ethical Hacking, Business Processes</p>
                </div>
            </div>
        </div>
        <div class="landingeducationtext">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <i class="fa fa-building-o"></i> 
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <h5>Price Waterhouse Coopers (PwC)</h5>
                    <p>Designer and Developer</p>
                    <h5>Intel Corporation</h5>
                    <p>Network Engineer</p>
                </div>
            </div>
        </div>
        <div class="landingeducationtext">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <i class="fa fa-cloud"></i> 
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <h5>Amazon Web Services - AWS Solutions Architect Associate</h5>
                    <p>EC2, VPC, s3, IAM, RDS, Designing systems, Implementation/Deployment, Data Security, Troubleshooting</p>
                    <h5>Amazon Web Services - AWS Developer Associate</h5>
                    <p>AWS Fundamentals, Designing and Developing, Deployment and Security, Troubleshooting</p>
                </div>
            </div>
        </div>
</section>
<section class="landingtoolspage">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1>Skills</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <i class="fa fa-code"></i>
                <ul>
                <strong>
                    <li>HTML/CSS</li>
                    <li>Javascript</li>
                    <li>React</li>
                    <li>Node</li>
                    <li>Express</li>
                    <li>MongoDB</li>
                </strong>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <i class="fa fa-cloud-download"></i>
                <ul>
                    <strong>
                        <li>AWS</li>
                        <li>Heroku</li>
                        <li>Github</li>
                        <li>EC2</li>
                        <li>s3</li>
                        <li>VPC</li>
                    </strong>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <i class="fa fa-play"></i>    
                <ul>
                    <strong>
                        <li>Adobe Premiere</li>
                        <li>Audacity</li>
                        <li>Snagit</li>
                        <li>Storyline</li>
                        <li>Lectora</li>
                        <li>Captivate</li>
                    </strong>
                </ul>
            </div>
        </div>
    </div>
</section>


<% include partials/footer %>