<% include partials/header %>

<section class=" projectspage">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h1>My Projects</h1>
            </div>
        </div>
    </div>
    <div class="projectscontent">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12">
                    <img src="stylesheets/londonbitez_v2.jpg" class="mx-auto d-block">
                </div>
                <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="projectstext">
                        <h3>React Project</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="projectscontent greybackground">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="projectstext">
                        <h3>Portfolio</h3>
                        <p>This blog contains key information about my background, skills and past projects. Creating this portfolio was one of my biggest projects and incorporates a variety of both Front-End and Back-End technologies using HTML/CSS, Bootstrap, Node, Express, Mongo and several Javascript libraries and frameworks including Mongoose, Body Parser and Passport.</p>
                        <p>Integrated into this portfolio is a fully functioning blog which I created using Node, Mongo and several Javascript libraries. Creating this blog helped me to develop fundamental knowledge around, models, schemas, user authentication, data storage and Restful Routes. When visiting this page, blog posts stored in a Mongo database are displayed on screen, users are then able to log in and make comments on any blog post but cannot make new blog posts or delete or edit other user’s comments.</p>
                        <p>A contact form is also integrated in this portfolio and can be found on the contact page. Using Nodemailer and OAuth2 authentication potential employers can contact me by filling out a short form. The information in this form is then sent to my Gmail account using the Google Mail API.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12">
                    <img src="stylesheets/portfolio_v2.jpg" id="portfolioimage" class="mx-auto d-block">
                </div>
            </div>
        </div>
    </div>
    <div class="projectscontent">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12">
                    <img src="stylesheets/londonbitez_v2.jpg" class="mx-auto d-block">
                </div>
                <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="projectstext">
                        <h3>London Bitez</h3>
                        <p>London Bitez is a social media and food promotion website that discovers and promotes food and food events in central London. While creating this site I developed a number of valuable skills around using and integrating API’s, writing basic Javascript as well as integrating HTML/CSS and Bootstrap.</p>
                        <p>This site utilises two API’s the Google Maps API which displays a map of London and uses Javascript to display markers of all the recommended food locations and the Instagram API which displays the top 20 photos taken by the London Bitez Instagram account. In addition to this the site is also fully responsive and uses CSS animations and automated scrolling.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="projectscontent greybackground">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="projectstext">
                        <h3>Uralkomtech</h3>
                        <p>Uralkomtech is a bolt manufacturing business situated in Russia that needed a website to promote and inform potential customers of the services and products the company sold. This website was one of the first websites I created and it taught me the fundamentals of HTML/CSS and how they work together.
                        <p>Being one of the first websites I created meant there was a number of challenges I had to overcome which helped me to develop my skills, some of these areas included creating responsive functionality, understanding and using Bootstrap, integrating the Google Maps API and displaying non-English text on screen. </p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12">
                    <img src="stylesheets/uralkomtech_v2.jpg" class="mx-auto d-block">
                </div>
            </div>
        </div>
    </div>
</section>


<% include partials/footer %>