<% include partials/header %>

<section class=" projectspage">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h1 class="animate-wp-17">My Projects</h1>
                <div class="headerunderline animate-wp-16"></div>
            </div>
        </div>
    </div>
    <div class="projectscontent">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-12 col-sm-12 col-12 animate-wp-24 nopadding z-index">
                    <div class=" projectsimagestyle projectstextstyle">
                        <a href="https://frozen-escarpment-28708.herokuapp.com/" target="_blank"><img src="stylesheets/react-real-estate-app1_v2.jpg" class="mx-auto d-block"></a>
                        <h3>React Real Estate App</h3>
                        <ul>
                            <li>Search for and find real estate</li>
                            <li>Filter by home type, bedrooms, price and amenities</li>
                            <li>Fully responsive and has grid or long view options</li>
                            <li>Includes search functionality to quickly find properties</li>
                            <li>Created using React, HTML, CSS, JavaScript and Node <a href="https://github.com/Dylan-Hedges/React-Real-Estate-App">(GitHub)</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-12 col-sm-12 col-12 animate-wp-25 nopadding z-index">
                    <div class="projectsimagestyle projectstextstyle">
                        <a href="https://damp-plateau-48903.herokuapp.com" class="zindex" target="_blank"><img src="stylesheets/reactyoutubeplayer_v2.jpg" class="mx-auto d-block"></a>
                        <h3>React Youtube Player</h3>
                        <ul>
                            <li>Search for and play any Youtube videos</li>
                            <li>Play videos from the original Youtube channels</li>
                            <li>Fully responsive and contains Youtube video functionality</li>
                            <li>Integrates with the Youtube API</li>
                            <li>Built using React, HTML, CSS, Javascript, Bootstrap and Node <a href="https://github.com/Dylan-Hedges/ReactYoutubePlayer">(GitHub)</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-12 col-sm-12 col-12 animate-wp-26 nopadding z-index">
                    <div class="projectsimagestyle projectstextstyle">
                        <a href="https://royal-loonie-69982.herokuapp.com/" target="_blank"><img src="stylesheets/reactblogimage_v2.jpg" class="mx-auto d-block"></a>
                        <h3>React/Redux Blog</h3>
                        <ul>
                            <li>Fully functioning blog with CRUD functionality</li>
                            <li>Create, read, update and delete blogposts</li>
                            <li>Uses Redux to manage state</li>
                            <li>Integrates  with the mLab API and uses a MongoDB back end</li>
                            <li>Built using React/Redux, HTML, CSS, Javascript, Node and MongoDB <a href="https://github.com/Dylan-Hedges/ReactWithRedux-Blog">(GitHub)</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="projectscontent">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-12 col-sm-12 col-12 animate-wp-27 nopadding z-index">
                    <div class="projectsimagestyle projectstextstyle">
                        <a href="http://nameless-lowlands-84741.herokuapp.com/" target="_blank"><img src="stylesheets/feedback_app_v2.jpg" class="mx-auto d-block"></a>
                        <h3>React Feedback App</h3>
                        <ul>
                            <li>Create and send surveys to participants</li>
                            <li>Purchase credits and view metrics for surveys (click <a href="https://stripe.com/docs/quickstart" target="_blank">here</a> for credit card number)</li>
                            <li>Quick login using Google OAuth authentication and passport.js</li>
                            <li>Stores, retrieves and updates feedback data using Mongo/Mongoose</li>
                            <li>Built using React/Redux, Redux-Form, React-Router, Node, Express <a href="https://github.com/Dylan-Hedges/Feedback-App">(GitHub)</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-12 col-sm-12 col-12 animate-wp-28 nopadding z-index">
                    <div class="projectsimagestyle projectstextstyle">
                        <a href="http://sheltered-island-84179.herokuapp.com/" target="_blank"><img src="stylesheets/weather_app_v2.jpg" class="mx-auto d-block"></a>
                        <h3>React Weather Forecaster</h3>
                        <ul>
                            <li>Search for the current weather for any city in Canada</li>
                            <li>Displays temperature, pressure and humidity using visual charts</li>
                            <li>Displays city location using Google Maps API</li>
                            <li>Uses reusable components for flexibility</li>
                            <li>Created using React, Redux, HTML, CSS and Sparklines <a href="https://github.com/Dylan-Hedges/ReactWithRedux-WeatherForecaster">(GitHub)</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-12 col-sm-12 col-12 animate-wp-29 nopadding z-index">
                    <div class="projectsimagestyle projectstextstyle">
                        <a href="http://dylanhedges.com" target="_blank"><img src="stylesheets/portfolio_v3.jpg" id="portfolioimage" class="mx-auto d-block"></a>
                        <h3>Portfolio</h3>
                        <ul>
                            <li>View projects and find key information about my background and experience</li>
                            <li>Fully functioning blog with CRUD functionality</li>
                            <li>Ability for users to sign up, login and leave comments</li>
                            <li>Fully functioning contact form using Nodemailer and OAuth2 Authentication</li>
                            <li>Built using HTML, CSS, Javascript, Bootstrap, Node, Express, MongoDB <a href="https://github.com/Dylan-Hedges/Portfolio">(GitHub)</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="projectscontent">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-12 col-sm-12 col-12 animate-wp-30 nopadding z-index">
                    <div class="projectsimagestyle projectstextstyle">
                        <a href="http://thawing-bastion-93247.herokuapp.com/" target="_blank"><img src="stylesheets/sellit_v2.jpg" class="mx-auto d-block"></a>
                        <h3>Sell It.</h3>
                        <ul>
                            <li>Display and advertise items for sale</li>
                            <li>Users can sign up, post items and leave comments</li>
                            <li>Landing page containing an image slideshow</li>
                            <li>Stores item data and comments using Mongo/Mongoose </li>
                            <li>Created using HTML, CSS, Javascript, Bootstrap, Node, Express and MongoDB <a href="https://github.com/Dylan-Hedges/Sell-It">(GitHub)</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-12 col-sm-12 col-12 animate-wp-31 nopadding z-index">
                    <div class="projectsimagestyle projectstextstyle">
                        <a href="http://londonbitez.s3-website.ca-central-1.amazonaws.com" target="_blank"><img src="stylesheets/londonbitez_v2.jpg" class="mx-auto d-block"></a>
                        <h3>London Bitez</h3>
                        <ul>
                            <li>Food and drink social media website</li>
                            <li>Single page, fully responsive site</li>
                            <li>Automated scrolling using JQuery and Waypoints</li>
                            <li>Integration with the Instagram and Google Maps APIs</li>
                            <li>Built using HTML, CSS, Javascript and Bootstrap <a href="https://github.com/Dylan-Hedges/London-Bitez">(GitHub)</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-12 col-sm-12 col-12 animate-wp-32 nopadding z-index">
                    <div class="projectsimagestyle projectstextstyle">
                        <a href="http://uralkomtech.com" target="_blank"><img src="stylesheets/uralkomtech_v2.jpg" class="mx-auto d-block"></a>
                        <h3>Uralkomtech</h3>
                        <ul>
                            <li>Company website for a Bolt manufacturer</li>
                            <li>Displays product information and contact details</li>
                            <li>Renders and displays Cyrillic characters</li>
                            <li>Integration with the Google maps API</li>
                            <li>Created using HTML, CSS, Javascript and Bootstrap <a href="https://github.com/Dylan-Hedges/Uralkomtech">(GitHub)</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<% include partials/footer %>
               