<% include partials/header %>

<section class=" projectspage">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h1>My Projects</h1>
            </div>
        </div>
    </div>
    <div class="projectscontent">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12">
                    <img src="stylesheets/feedback_app_v2.jpg" class="mx-auto d-block">
                </div>
                <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="projectstext">
                        <h3>Feedback Collection App (In Progress)</h3>
                        <p>This feedback collection app uses a number of Javascript frameworks/libraries and includes React, Redux, Express, and Mongo. The purpose of this web app is to send emails to a big list of users with the goal of collecting feedback. This full stack app uses a number of features that work together and includes everything from authentication to email handling.</p>
                        <p>Features include:</p>
                        <ul>
                            <li>Connecting a React front end a Node/Express backend</li>
                            <li>Connecting and retrieving data from a Mongo database</li>
                            <li>Routing requests with React Router (front-end) and Express (back-end)</li>
                            <li>Reusable user inputs with Redux Form</li>
                            <li>Using Google OAuth authentication to improve authentication flows</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="projectscontent greybackground">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="projectstext">
                        <h3>Portfolio</h3>
                        <p>This portfolio site contains key information regarding my background, skills, education, work experience and past projects. When designing and developing this full stack site i utilised a number of Frontend and Backend libraries/frameworks to achieve the functionality i needed, some of which include HTML/CSS, Bootstrap, Node, Express, MongoDB, Mongoose, Body Parser, OAuth2 authentication and Passport.</p>
                        <p>Features include:</p>
                        <ul>
                            <li>Connecting a HTML/CSS/Bootstrap frontend to a Mongo database using mongoose</li>
                            <li>Utilises a Node/Express backend with restful routes</li>
                            <li>A user signup/login system with authentication (passport)</li>
                            <li>A fully working blog with CRUD functionality</li>
                            <li>A functioning contact form using Nodemailer and OAuth2 authentication</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12">
                    <a href="http://dylanhedges.com"><img src="stylesheets/portfolio_v2.jpg" id="portfolioimage" class="mx-auto d-block"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="projectscontent">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12">
                    <a href="http://londonbitez.s3-website-us-east-1.amazonaws.com" target="_blank"><img src="stylesheets/londonbitez_v2.jpg" class="mx-auto d-block"></a>
                </div>
                <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="projectstext">
                        <h3>London Bitez</h3>
                      <p>London Bitez is a social media and food promotion website that discovers and promotes new food around central London. When designing and developing London Bitez the color scheme and design was important as the theme needed to be consistent with current design trends in London. This single page site is fully responsive and introduced me to some of the key principles of web design and development.</p>
                      <p>Features include:</p>
                        <ul>
                            <li>Fully responsive website using the Bootstrap grid system</li>
                            <li>Automated scrolling using JQuery and Waypoints</li>
                            <li>CSS animated images </li>
                            <li>Integration with the Google maps API used to display food locations around London</li>
                            <li>Integration with the Instagram API to display the top 20 photos for the account</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="projectscontent greybackground">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="projectstext">
                        <h3>Uralkomtech</h3>
                        <p>Uralkomtech is a business located in Russia that manufactures and sells nuts, bolts and other metal products. The purpose of this site is to inform new and returning customers about the products and services sold and as a result had to have a simple and clear design. This website was one of the first sites I designed and developed and introduced me to the key fundamentals of web development.</p>
                        <p>Features include:</p>
                        <ul>
                            <li>Ability to render and display Cyrillic characters</li>
                            <li>Fully responsive and uses the Bootstrap grid system</li>
                            <li>Fixed background images with overlaid text</li>
                            <li>Automated scrolling using JQuery and Waypoints</li>
                            <li>Integration with the Google maps API</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12">
                    <a href="http://uralkomtech.com" target="_blank"><img src="stylesheets/uralkomtech_v2.jpg" class="mx-auto d-block"></a>
                </div>
            </div>
        </div>
    </div>
</section>


<% include partials/footer %>