body {
  background-color: #000;
}

.landing-header {
  /*"z-index: 1" - refers to the layering of objects on the page, will layer above other objects*/
  z-index: 1;
  /*"position: relative; - default is static, if left it will ignore the z-index*/
  position: relative;
  /*text-align: center; - centers objects horizontally*/
  text-align: center;
  /*padding-top: 40vh; - centers objects vertically*/
  padding-top: 40vh;
}

.landing-header h1 {
  color: #fff;
  font-size: 6em;
  text-shadow: 4px 4px 4px #000000;
}

.landing-header a{
  margin-top: 2%;
}

.slideshow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /*z-index: 0; - makes sure background image is behind the text*/
  z-index: 0;
  /*list-style: none; - removes bullets*/
  list-style: none;
  margin: 0;
  padding: 0;
}

/*Styles <li>*/
.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /*background-size: cover; - allows image to take up entire page*/
  background-size: cover;
  /*background-position: 50% 50%; - centers images on the page*/
  background-position: 50% 50%;
  /*background-repeat: no-repeat; - prevents image repating to fill in space*/
  background-repeat: no-repeat;
  /*opacity: 0; - images are invisible to start and fade in using animation*/
  opacity: 0;
  z-index: 0;
  /*opacity: 0; - animation that fades images in and out, imageAnimation = name, 50s = 50 seconds, linear = same speed from begging to end, infinite = loop forever*/
  animation: imageAnimation 50s linear infinite; 
}

/*Adds background images to <li>*/
.slideshow li:nth-child(1) { 
  background-image: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ), url(https://pixabay.com/get/ee3db4082cf61c22d9584518a3494294e170e4d204b014419cf7c37ea7ebb2/technology-785742_1920.jpg); 
}

.slideshow li:nth-child(2) { 
  background-image: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ), url(https://pixabay.com/get/eb3cb10929f1083ed1534705fb094392e175e5d31eac104495f9c67ba0ecb2ba/web-design-2906159_1920.jpg);
  /*animation-delay: 10s; start the animation for image 2 after 10 seconds*/
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ), url(https://pixabay.com/get/e031b50b21fd1c3e955f4107e44b4091fe76e7d510b6134690f7c6/code-944499.jpg);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ), url(https://pixabay.com/get/eb35b10e28fd013ed1534705fb094392e175e5d31eac104495f9c67ba0eab2bd/cloud-computing-2001090_1920.jpg);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ),  url(https://pixabay.com/get/e832b50d2efc063ed1534705fb094392e175e5d31eac104495f9c67ba0eeb4bb/digital-1742687_1920.jpg);
  animation-delay: 40s; 
}

/*Creates animation (refered to above using "animation:")*/
@keyframes imageAnimation { 
  /*from 0%-10% of the animation fade in image opacity from 0 -> 1*/
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  /*10-20% - keep image displated*/
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  /*20-30% - keep image displayed*/
  20% {
    opacity: 1
  }
  /*30% + fade image out*/
  30% {
    opacity: 0
  }
}


/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}