/*-----------------------NAV BAR-----------------------*/
i.icon {
    font-size: 120%;
    padding: 0 2px 0 4px;
}

/*-----------------------LANDING PAGE (SPLASH)-----------------------*/
.landing-splash-page{
    padding-bottom: 35vh;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(../images/1.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/1.jpg);
    background-size: cover;
}

.splash-header {
  /*"z-index: 1" - refers to the layering of objects on the page, will layer above other objects*/
  z-index: 1;
  /*"position: relative; - default is static, if left it will ignore the z-index*/
  position: relative;
  /*text-align: center; - centers objects horizontally*/
  text-align: center;
  /*padding-top: 40vh; - centers objects vertically*/
  padding-top: 40vh;
}

.splash-header h1 {
  color: #fff;
  font-size: 6em;
  text-shadow: 4px 4px 4px #000000;
}

.splash-header a{
  margin-top: 2%;
}


/*----LANDING PAGE (ICONS)--------*/
.landing-icons-page{
}


.landingicons {
  margin-top: 15%;
  font-size: 550%;
  text-align: center;
  color: lightblue;
}

.landingiconstext{
  margin-bottom: 15%;
  text-align: center;
  font-size: 140%;
}

/*----LANDING PAGE (PROJECTS)--------*/
.landing-projects-page{
  padding-top: 3%;
  background-color: grey;
}

.landingcontent {
  margin-top: 5%;
}


.landingcontent img{
  width: 100%;
}

.landingcontent p{
  padding-top: 5%;
  font-size: 120%;
}

/*----------------------------ABOUT PAGE----------------------------*/
.aboutpage{
  margin-top: 1%;
}

.aboutpage h1 {
    text-align: center;
    margin-bottom: 3%;
}

.aboutpage img {
  width: 100%;
}

.aboutcontent {
  margin-top: 5%;
}
.aboutcontent img{
  width: 100%;
}

.aboutcontent ul{
  padding-top: 5%;
}

.aboutcontent li{
  padding: 1%;
}


/*-----------------------PROJECTS PAGE-----------------------*/
.projectspage {
  margin-top: 1%;
}

.projectspage h1{
    text-align: center;

}

.projectsimages{
  margin-top: 5%;
}

.projectsimages img{
  width: 100%;
}

.projectstext{
  text-align: center;
  font-size: 120%;
}

.projectstext h3{
  margin: 10% 0 5% 0;
}

/*-----------------------BLOG PAGE-----------------------*/
.container .jumbotron{
    margin-top: 1%;
}

/*-----------------------CONTACT PAGE-----------------------*/
.contactpage {
  margin-top: 1%;
}

.contactpage h1 {
  margin-bottom: 1%;
  text-align: center;
  font-size: 300%;
}

.contacticons {
  font-size: 550%;
  margin: 8% 0 5% 0;
  text-align: center;
  color: lightblue;
}

.contactdownload{
  text-align: center;
  margin: 0 0 0 20%;
  
}
.contactdownload i{
  color: lightblue;
  font-size: 550%;
}


.contactform {
    padding: 1% 20% 0 20%;
}


/*-----------------------LOGIN AND REGISTER PAGES-----------------------*/
.formstyle{
    padding: 1% 20% 0 20%;
}

.formstyle h1{
    margin: 1% 0 5% 0;
    text-align: center;
}

.loginformstyle{
    padding: 1% 10% 0 10%;
}

.delete-form{
    display: inline;
}


