/*Removes rounded corners*/
/** {*/
/*  -webkit-border-radius: 0 !important;*/
/*     -moz-border-radius: 0 !important;*/
/*          border-radius: 0 !important;*/
/*}*/
i.icon {
    font-size: 120%;
    padding: 0 2px 0 4px;
}

.container .jumbotron{
    margin-top: 1%;
    
}

.formstyle{
    padding: 1% 20% 0 20%;
}



.formstyle h1{
    margin: 1% 0 5% 0;
    text-align: center;
}

.loginformstyle{
    padding: 1% 10% 0 10%;

}

.delete-form{
    display: inline;
}


