body{
  /*font-family: 'Lato', 'Arial', sans-serif;*/
  /*color: #555;*/
  background-color: #fff;
  color: #444;
}


.container-fluid{
  padding: 0;
}

/*-----------------------NAV BAR-----------------------*/
.navbarstyle{
  /*margin-bottom: 10vh;*/
}

.bg-muted{
  background-color: #fff;
}

i {
    font-size: 120%;
    padding: 0 5px 0 4px;
}

.fa-code{
  font-size: 150%;
}

.fa-code:hover{
  color: #337AB7;
}

.navbar li a {
    text-transform: uppercase;
    font-weight: 400;
    border-bottom: 2px solid transparent;
}

.navbar li a:hover, .navbar li a:active  {
    border-color: #337AB7;
}

.navbar .navbariconstyle li a:hover, .navbar .navbariconstyle li a:active  {
    border-color: transparent;
    color: #337AB7 !important;
}

#welcomemessage:hover{
  color: rgba(0,0,0,.5);
}







/*---------------------------------------------LANDING PAGE (SPLASH)--------------------------------------------------------*/
.landingsplashpage{
    padding-bottom: 35vh;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(2.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(2.jpg);
    background-size: cover;
}

.splashheader {
  /*"z-index: 1" - refers to the layering of objects on the page, will layer above other objects*/
  z-index: 1;
  /*"position: relative; - default is static, if left it will ignore the z-index*/
  position: relative;
  /*text-align: center; - centers objects horizontally*/
  text-align: center;
  /*padding-top: 40vh; - centers objects vertically*/
  padding-top: 40vh;
}

.splashheader h1 {
  color: #fff;
  font-size: 6em;
  text-shadow: 2px 2px 2px #000000;
}

.splashheader a{
  margin-top: 2%;
}


/*----------ICONS----------*/
.landingpageicons{
  text-align: center;
  margin-bottom: 2%;
}

.landingpageicons i{
  font-size: 600%;
  color: #337AB7;
}

.landingpageicons h1{
  margin: 5% 0 7% 0;
}

.landingpageicons h5{
  padding: 20% 0 20% 0;
}


/*----------LANDING PROJECTS------------*/
.landingprojectspage{
  padding: 3% 0 2% 0 ;
  background-color: #f4f4f4;
}

.landingprojectspage i{
  padding-top: 30%;
  font-size: 700%;
  color: #337AB7;

}

.landingprojectspage h1{
    text-align: center;
}

.landingprojectstext{
  padding-top: 2%;
}

.landingprojectstext p{
  padding-top: 7%;
}

/*--------------------------------------------------ABOUT PAGE-------------------------------------------------------------*/
.aboutpage{
  margin-top: 5%;
}

.aboutpage .container-fluid{
  padding: 0 5% 0 5%;
}


.aboutcontent{
  padding: 3% 0 3% 0;
}

.aboutintro{
  padding: 0 0 3% 0;
}

.aboutcontent h1, .aboutintro h1 {
    text-align: center;
    margin-bottom: 3%;
}

.aboutcontent img, .aboutintro img {
  width: 100%;
}

.aboutcontent h5, .aboutintro h5{
  margin: 1.5% 0 4% 0;
}

.aboutexperience{
  background-color: #f4f4f4;
}


/*--------------------------------------------------------PROJECTS PAGE-------------------------------------------------------------------*/
.projectspage{
  margin-top: 5%;

}
.projectspage img{
  width: 100%;
}

.projectspage h1{
    text-align: center;
}

.projectsgreybackground{
  background-color: #f4f4f4;
}

.projectscontent{
  margin: 3% 20% 0 20%;
  padding: 2%;
}

.projectstext {
  padding-top: 4%;
}


/*--------------------------------------------------------BLOG PAGE--------------------------------------------------------*/
/*------BLOGPOST INDEX---------*/
.blogpostindexbackground{
  background-color: #f4f4f4;
  padding: 7% 0 5% 0;
  margin-bottom: 2%;
}

/*-----SHOW BLOGPOST-----------*/
.showblogpostpage{
  margin-top: 5%;
}

.showblogpostpage .container{
  padding: 0 5% 5% 5%;
}


.showblogpostpage h4{
  margin: 4% 0 2% 0;

}

#datepostedstyle{
  background-color: #f4f4f4;
}

.showblogpostpage img{
  width: 100%;
}

.showblogpostpage .delete-form{
  display: inline;
}

.commentbuttons{
  padding-bottom: 2%;
}

/*-----NEW/EDIT BLOGPOST-------*/
.newblogpostpage, .editblogpostpage{
  margin-top: 5%;
  margin-bottom: 50vh;
}
.newblogpostpage .container, .editblogpostpage .container{
  padding: 0 10% 0 10%;
}

.newblogpostpage h1, .editblogpostpage h1{
  text-align: center;
  margin-bottom: 5%;
}

.newblogpostpage .form-control, .editblogpostpage .form-control {
  margin-top: 1%;
}

.newblogpostbuttons, .editblogpostbuttons{
    display: inline;
    margin-top: 2%;
}

/*-----NEW/EDIT COMMENT-------*/
.newcommentpage, .editcommentpage{
  margin: 10vh 0 70vh 0;
}

.newcommentpage .container .newcommentform, .editcommentpage .container .editcommentform  {
  padding: 1% 25% 0 25%;
}

.newcommentpage h1, .editcommentpage h1 {
  text-align: center;
  margin-bottom: 3%;
}

.newcommentbuttons, .editcommentbuttons {
  margin-top: 5%;
}



/*--------------------------------------------------------CONTACT PAGE---------------------------------------------*/
.contactpage {
  margin-top: 10vh;
  margin-bottom: 15vh;
}

.contactpage h1 {
  margin-bottom: 1%;
  text-align: center;
  font-size: 300%;
}

.contacticons {
  font-size: 650%;
  margin: 8% 0 5% 0;
  text-align: center;
}

.contactdownload{
  text-align: center;
  margin: 0 0 5% 20%;
  
}
.contactdownload i{
  font-size: 550%;
}

.contactdownload h4{
  padding-top: 7%;
}

.contactform {
    padding: 1% 20% 0 20%;
}

/*--------------------------------------------------------LOGIN PAGE--------------------------------------------------------*/

.loginpage{
  padding: 5vh 0 70vh 0;
  font-size: 110%;
}

.loginpage .container {
  padding: 1% 20% 0 20%;
}

.loginpage h1{
  text-align: center;
  margin-bottom: 10%;
}
/*-----------------------------------------------------REGISTER PAGE----------------------------------------------------------------*/

.registerpage{
  padding: 5vh 0 70vh 0;
  font-size: 110%;
}

.registerpage .container {
  padding: 1% 20% 0 20%;
}

.registerpage h1{
  text-align: center;
  margin-bottom: 10%;
}


/*--------------------------------------------------------FOOTER-------------------------------------------------------------------*/

.footer{
  margin-top: 2%;
  padding: 15px 0 0 0;
  background-color: #337AB7;
}

.footerleft{
  text-align: left;
  font-size: 110%;
  padding-top: 15px;
}

.footerleft ul li{
  list-style: none;
  display: inline-block;
  padding-right: 10px;
}

.footerleft ul li a{
  color: #add8e6;
}

.footerleft ul li a:hover{
  color: #fff;
}

.footerright {
  text-align: right;
  font-size: 200%;
  padding-right: 2%;
}



.footerright ul li{
  list-style: none;
  display: inline-block;
  padding-right: 5px;

}

.footerright ul li a i{
    color: #add8e6;
    padding: 0;
    margin: 0;
}

.footerright ul li a i:hover{
  color: #fff;
}